body {
    position: relative;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;  /* Cambio a auto para permitir el crecimiento del contenido */
    margin: 0;
    margin-top: 50px; /* Agrega un margen superior */
    background-color: var(--bg-color);
    color: var(--text-color);
    padding-bottom: 50px; /* Agregar relleno en la parte inferior para un desplazamiento extra */
  }
  
  :root {
    --bg-color: #f5f5f5;
    --text-color: #333;
    --app-bg-color: white;
    --app-shadow-color: rgba(0, 0, 0, 0.1);
  }
  
  .dark-theme {
    --bg-color: #222;
    --text-color: white;
    --app-bg-color: #333;
    --app-shadow-color: rgba(255, 255, 255, 0.1);
  }
  
  #app {
    width: 80%;
    max-width: 800px;
    text-align: center;
    background-color: var(--app-bg-color);
    box-shadow: 0 4px 6px var(--app-shadow-color), 0 1px 3px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    padding: 20px;
    overflow-y: auto; /* Permite el desplazamiento vertical si el contenido se desborda */
  }

  
h1 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  button {
    margin-top: 1em;
    padding: 0.5em 1em;
    font-size: 1em;
    background-color: #007bff;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  #opciones {
    text-align: left;
    display: inline-block;
    margin-top: 1em;
  }
  
  input[type="radio"] {
    margin-right: 8px;
  }
  
  @media (max-width: 767px) {
    #app {
      width: 90%;
    }
  }
  
  .hidden {
    display: none;
  }
  
  #theme-toggle {
      margin-right: 20px;
      background-color: transparent; /* Elimina el color de fondo */
      border: none; /* Elimina el borde */
      padding: 0; /* Elimina el padding */
      font-size: 1.5em; /* Cambia el tamaño del ícono */
      color: var(--text-color); /* Cambia el color del ícono */
    }
    
    #theme-toggle:hover {
      background-color: transparent; /* Mantiene el fondo transparente al pasar el cursor sobre el botón */
      color: #007bff; /* Cambia el color del ícono al pasar el cursor sobre el botón */
    }
    
  
  .light-mode {
    font-family: "Arial", sans-serif;
  }
  
  .dark-mode {
    font-family: "Arial", sans-serif;
  }
  
  span.correct {
    background-color: rgba(0, 255, 0, 0.3);
    padding: 0.25em 0.5em;
    border-radius: 5px;
    margin: 0.25em 0;
  }
  
  span.incorrect {
    background-color: rgba(255, 0, 0, 0.3);
    padding: 0.25em 0.5em;
    border-radius: 5px;
    margin: 0.25em 0;
  }
  
  header {
      display: flex;
      justify-content: space-between; /* Modifique esta línea */
      align-items: center;
      background-color: var(--app-bg-color);
      padding: 10px 20px;
      box-shadow: 0 4px 6px var(--app-shadow-color), 0 1px 3px rgba(0, 0, 0, 0.08);
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 100;
    }  
  
    #github-link {
      margin-left: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
    }
    
    #github-icon {
      width: 32px;
      height: 32px;
      display: block;
    }
    
    
  
    #asignatura-nombre {
      margin: 0;
      text-align: center;
      flex-grow: 1;
      padding-left: 10px;
    }
    
  
  header {
      align-items: flex-start;
    }
    
    #github-link {
      margin-top: 4px;
    }
    
    #theme-toggle {
      margin-left: auto;
      margin-top: 4px;
      padding: 0;
      font-size: 1.5em;
      background: none;
      border: none;
      cursor: pointer;
      transition: color 0.3s;
    }
    
    .github-link {
      display: inline-block;
      margin-right: 8px;
      padding: 8px;
    }
    
    .github-link {
      margin-right: 8px;
      padding: 8px;
    }
  
    .contador {
      position: fixed;
      bottom: 10px;
      right: 10px;
      background-color: rgba(0, 0, 0, 0.5); /* Un fondo semitransparente */
      color: #FFFFFF;
      font-size: 14px;
      padding: 5px 10px;
      border-radius: 5px;
      z-index: 1000; /* Asegura que el contador esté por encima de otros elementos */
    }
    
    .bottom-left {
      position: fixed;
      bottom: 10px;
      left: 10px;
      font-size: 16px;
      color: #FFFFFF;
      background-color: rgba(0, 0, 0, 0.5); /* Un fondo semitransparente */
      padding: 5px;
      border-radius: 3px;
    }
    
    label span {
      display: inline-flex;
      max-width: 85%;
      text-align: left;
      margin-bottom: 5px;
    }
    